examples/schemas/payment_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- Bank Payment Request Schema for GYT Continental Bank -->
    <xs:element name="PaymentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="HeaderType"/>
                <xs:element name="Payment" type="PaymentType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Header Type Definition -->
    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element name="TransactionId" type="xs:string"/>
            <xs:element name="Timestamp" type="xs:dateTime"/>
            <xs:element name="Version" type="xs:string"/>
            <xs:element name="SourceSystem" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Payment Type Definition -->
    <xs:complexType name="PaymentType">
        <xs:sequence>
            <xs:element name="Amount" type="xs:decimal"/>
            <xs:element name="Currency">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="GTQ"/>
                        <xs:enumeration value="USD"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AccountNumber" type="xs:string"/>
            <xs:element name="CustomerName" type="xs:string"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Reference" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
